<h1>Display map bellow</h1>
<%= @commune.name %>
<%= @commune.latitude %>
<%= @commune.longitude %>

<div id="map"
     style="width: 1000px; height: 500px;"
     data-controller="mapbox"
     data-mapbox-coordinates-value="<%= @commune.polygon %>">
</div>
