
<main>
  <div class="criteres">
    <div>
      <h1>Display map bellow</h1>
    </div>
  </div>
  <div class="mapbox-section">
    <div class="mapbox" id="map"
      style="width: 100%; height: 100vh;"
      data-controller="box"
      data-box-target="mapContainer"
      data-box-price-query-value="<%= params[:price_query] %>"
      data-box-address-value="<%= params[:address] %>">
    </div>

  </div>
</main>
