// Define variables for your color scheme

// For example:
$red: #D9534F;
$blue: #085E7D;
$yellow: #FFB344;
$orange: #d3690c;
$green: #008E89;
$gray: #0E0000;
$light-gray: #F4F4F4;

// notre palette de couleurs:
$alpha : #15616d;
$beta : #001524;
$charlie : #FFB344;
$delta : #008E89;
$echo : #085E7D;
$foxtrot : #FFF;
