main {
  position: relative;

  .results {
    display: flex;
    height: 100vh;

    .mapbox {
      width: 100%;
      height: 100%;
      position: relative;

      .card-legend {
        position: absolute;
        z-index: 1;
        background-color: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.589);
        border-radius: 18px;
        flex-direction: row;
        padding: 1em;
        display: grid;
        grid-template-columns: 45px auto;
        align-items: center;
        row-gap: 12px;
        right: 20px;
        bottom: 30px;

        .text {
          .title {
            padding: 0;
            margin: 0;
            font-weight: bold;
            font-size: 16px;
          }

          .description {
            padding: 0;
            margin: 0;
            font-size: 14px;
            color: #5c5c5c;
          }
        }
      }
    }

    .card-criteres {
      background-color: white;
      width: 500px;
      height: 100vh;
      background: no-repeat
          linear-gradient(
            to bottom,
            rgba(4, 36, 49, 0.877),
            rgba(7, 35, 61, 0.842)
          ),
        url("https://images.unsplash.com/photo-1603466183710-70b84997a93f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
          center center/cover;

      .hero-index {
        width: 100%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          text-decoration: none;
          color: #fff;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 700;
          padding-top: 8px;
          display: inline-block;

          &:after {
            content: "";
            display: block;
            width: 0;
            height: 3px;
            background: #fca311;
            transition: width 0.3s;
          }

          &:hover::after {
            width: 100%;
            transition: width 0.3s;
          }
        }
      }

      .search-form {
        padding: 0.8rem 1.6rem;
        width: 90%;
        margin: 0 auto;

        .switch-block {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0;

          .label-description-text {
            font-weight: 600;
            font-size: 1.3rem;
            color: rgb(25, 62, 100);
          }
        }

        .form-control {
          border: 1px solid rgb(25, 62, 100);
          border-radius: 8px;
        }

        input[type="range"] {
          height: 32px;
          -webkit-appearance: none;
          margin: 10px 0;
          width: 100%;
        }
        input[type="range"]:focus {
          outline: none;
        }
        input[type="range"]::-webkit-slider-runnable-track {
          width: 100%;
          height: 16px;
          cursor: pointer;
          animate: 0.2s;
          box-shadow: 0px 0px 0px #000000;
          background: #b6b6b6;
          border-radius: 25px;
          border: 1px solid #8a8a8a;
        }
        input[type="range"]::-webkit-slider-thumb {
          box-shadow: 1px 1px 1px #828282;
          border: 1px solid #8a8a8a;
          height: 24px;
          width: 35px;
          border-radius: 6px;
          background: rgb(43, 80, 117);
          cursor: pointer;
          -webkit-appearance: none;
          margin-top: -5px;
        }
        input[type="range"]:focus::-webkit-slider-runnable-track {
          background: #b6b6b6;
        }

        .kilometers {
          display: inline-block;
          width: 30px;
        }
      }
    }

    .right-section {
      height: 100vh;
      flex-grow: 1;
      position: relative;
    }

    .animation {
      position: absolute;
      width: 100%;
      // opacity: 0.8;
      z-index: 2;
    }
  }

  .color-light {
    color: #5b8a73;
  }

  .mapboxgl-popup-content {
    width: 220px;

    padding: 0;
    border-radius: 16px !important;

    h4 {
      text-align: center;
      color: #fff;
      padding: 20px 0;
      font-weight: 700;
      background: no-repeat
        linear-gradient(
          to bottom,
          rgba(4, 36, 49, 0.877),
          rgba(7, 35, 61, 0.842)
        );

      border-top-left-radius: 14px;
      border-top-right-radius: 14px;
    }

    .pop-flex {
      display: flex;
      justify-content: space-between;
      padding: 6px 20px;

      h5 {
        color: rgb(25, 62, 100);
        font-weight: 700;
      }

      p {
        font-size: 16px;
        color: rgb(25, 62, 100);
        font-weight: 600;
      }
    }
  }
}
