main {
  position: relative;

  .mapbox-section {
    display: flex;
    height: 100vh;

    #map {
      width: 100%;
    }

    .card-criteres {
      background-color: white;
      width: 500px;
      height: 100%;
      padding: 1rem 2rem;
    }

    .card-legend {
      position: absolute;
      background-color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      flex-direction: row;
      padding: 1em;
      display: grid;
      grid-template-columns: 45px auto;
      align-items: center;
      row-gap: 12px;
      right: 10px;
      bottom: 20px;

      .text {
        .title {
          padding: 0;
          margin: 0;
          font-weight: bold;
        }

        .description {
          padding: 0;
          margin: 0;
          font-size: 14px;
          color: #5c5c5c;
        }
      }
    }
  }

  .color-light {
    color: #5b8a73;
  }
}
