<footer class="container d-flex justify-content-between">
  <div class="footer-links">
    <a href="https://github.com/elbto/mappy-rhone"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/lewagonlyon/"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    <p class="copyright">Mappy Rhône Inc® Design et création @ Le Wagon Lyon</p>
  </div>
</footer>
