<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/elbto/mappy-rhone"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/lewagonlyon/"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="footer-copyright">
    Mappy Rhône Inc®  <i class="fa-solid fa-code"></i> Design et création @ Le Wagon Lyon
  </div>
</div>
