
<h1>This is the home page</h1>
<h3>Display the search bar bellow</h3>
<div>
  <%= form_tag communes_path, method: :get do %>
    nom de la commune <%= text_field_tag :name_query %>
    prix m^2 <%= text_field_tag :price_query %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
