
<h1>This is the home page</h1>
<h3>Display the search bar bellow</h3>
<div data-controller="geocoder">
  <%= form_with url: communes_path, method: :get do |f| %>
      <%= f.text_field :address,
                         placeholder: 'Trouve une adresse',
                         value: params[:address],
                         id: 'geo-address' %>
      <%= f.submit "Search" %>
  <% end %>
</div>
