.footer {
  background: #001524;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 300;
  height: 60px;
  padding: 0px 50px;
  color: rgb(218, 218, 218);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(218, 218, 218);
  opacity: 0.25;
  text-decoration: none;
  font-size: 30px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
