.navbar-lewagon {
  justify-content: space-between;
  background: #15616d;

  a {
    text-decoration: none;
    color: #f4f1de !important;
    font-weight: bold;
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 3px;
      background: #fca311;
      transition: width 0.3s;
    }

    &:hover::after {
      width: 100%;
      transition: width 0.3s;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
